.section-one > .fp-tableCell h3 ,
.section-one > .fp-tableCell h4 {
	transform: translateY(-1000px);
	opacity: 0;
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .8s ease-in-out;
}

.section-one.active > .fp-tableCell h3,
.section-one.active > .fp-tableCell h4 {
	transform: translateY(0);
	opacity: 1;
}

.section-one > .fp-tableCell #inline  {
	transform: translateX(100%);
	opacity: 0;
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .8s ease-in-out;
}

.section-one > .fp-tableCell #inline + #inline {
	transform: translateX(-100%);
}

.section-one > .fp-tableCell #inline + #inline + #inline {
	transform: translateX(0) translateY(0);
	transform: translateY(1000px);
}

.section-one.active > .fp-tableCell #inline {
	transform: translateX(0);
	opacity: 1;
}

.section-one.active > .fp-tableCell #inline {
	transition-delay: .2s;
}

.section-one.active > .fp-tableCell #inline + #inline {
	transition-delay: .4s;
}	

.section-one.active > .fp-tableCell #inline + #inline + #inline {
	transition-delay: .6s;
}
//End section-one
//section-two start
.section-two > .fp-tableCell h3 {
	transform: translateY(-1000px);
	opacity: 0;
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .8s ease-in-out;
}

.section-two.active > .fp-tableCell h3 {
	transform: translateY(0);
	opacity: 1;
}

.section-two > .fp-tableCell p,
.section-two > .fp-tableCell .cardAni {
	transform: translateX(100%);
	opacity: 0;
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .8s ease-in-out;
}

.section-two > .fp-tableCell p + p + .cardAni {
	transform: translateX(-100%);
}

.section-two > .fp-tableCell p + p + p + .cardAni {
	transform: translateX(0) translateY(0);
	transform: translateY(1000px);
}

.section-two.active > .fp-tableCell p,
.section-two.active > .fp-tableCell .cardAni {
	transform: translateX(0);
	opacity: 1;
}

.section-two.active > .fp-tableCell p, 
.section-two.active > .fp-tableCell .cardAni {
	transition-delay: .2s;
}

.section-two.active > .fp-tableCell p + p {
	transition-delay: .4s;
}

.section-two.active > .fp-tableCell p + p + p {
	transition-delay: .6s;
}

//end section two

.section-four > .fp-tableCell h1,
.section-four > .fp-tableCell form,
.section-four > .fp-tableCell #toTop,
.section-four > .fp-tableCell p {
    transform: translateX(-1000px);
	opacity: 0;
    transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity .8s ease-in-out;
}
.section-four > .fp-tableCell #animatetable {
	transform: translateX(-1000px);
	opacity: 0;
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
	opacity .8s ease-in-out
}

.section-four.active > .fp-tableCell h1,
.section-four.active > .fp-tableCell form,
.section-four.active > .fp-tableCell #toTop,
.section-four.active > .fp-tableCell #animatetable,
.section-four.active > .fp-tableCell p {
    transform: translateX(0);
	opacity: 1;
}

.section-four.active > .fp-tableCell li {
	transition-delay: .22s;
}

.section-four.active > .fp-tableCell li + li {
	transition-delay: .44s;
}


/* slide one */
.section-two .slide-one > .fp-tableCell h3,
.section-two .slide-one > .fp-tableCell li {
	transform: translateY(-1000px);
	opacity: 0;
	transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .66s ease-in-out;
}

.section-two.active .slide-one.active > .fp-tableCell h3,
.section-two.active .slide-one.active > .fp-tableCell li {
	transform: translateY(0);
	opacity: 1;
}

.section-two.active .slide-one.active > .fp-tableCell h3 {
	transition-delay: .44s;
}

.section-two.active .slide-one.active > .fp-tableCell li, {
	transition-delay: .22s;
}

.section-two.active .slide-one.active > .fp-tableCell li + li {
	transition-delay: 0s;
}
/* End slide one */

/* Slide 2 */
.section-two .slide-two > .fp-tableCell h3,
.section-two .slide-two > .fp-tableCell p {
	transform: translateY(-1000px);
	opacity: 0;
	transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .66s ease-in-out;
}

.section-two.active .slide-two.active > .fp-tableCell h3,
.section-two.active .slide-two.active > .fp-tableCell p {
	transform: translateY(0);
	opacity: 1;
}

.section-one.active .slide-two.active > .fp-tableCell p {
	transition-delay: .22s;
}

.section-one.active .slide-two.active > .fp-tableCell p + p {
	transition-delay: .44s;
}
/* End slide two */