@mixin transition($x...) {
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
  }
  
  
  form {
    display: grid;
    margin: 0 35%;
  
    > #btn {
      padding: 0.93em 1.87em;
      background: #35495e;
      border-radius: 5px;
      border-color: transparent;
      display: block;
      color: #fff;
      margin: auto;
      cursor: pointer;
      font-size: 0.85em;
      margin-top: 5px;
    }
    >#btn:focus {
      outline:none;
  
    }
    >#btn:hover {
      background: #e66465
    }
  
  }
  
  .namefield {
    background-color: transparent;
    border: none;
    border-bottom: 1px #fff solid;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: #fff;
  }
  
  .namefield:focus{
    outline: none;
  }
  
  .emailfield {
    background-color: transparent;
    border: none;
    border-bottom: 1px #fff solid;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .emailfield:focus {
    outline: none;
  }
  
  .messagefield {
    background-color: transparent;
    border: none;
    border-bottom: 1px #fff solid;
    height: 100px;
    box-sizing: border-box;
    color: #fff;
    
  }
  
  .messagefield:focus{
    outline: none;
  }
  
  
  label {
    color: white;
  
  }
  
  
  
  