@mixin transition($x...) {
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
  transition: $x;
}
@mixin rainbow() {
  background: repeating-linear-gradient(-45deg,red 0%, yellow 7.14%, rgb(0,255,0) 14.28%, rgb(0,255,255) 21.42%, cyan 28.56%, magenta 42.84%, red 50%);
    background-size:600vw 600vw;
    -webkit-animation:'slide' 6s infinite linear forwards;
}

body {
  font-family: arial, helvetica;
}

h3 {
  font-size: 6em;
  color: #fff;
  font-weight: 700;
}

h4 {
  font-size: 3em;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

.fp-section {
  text-align: center;
  color: white;
}

#toTop {
  padding: 0.93em 1.87em;
  background: #35495e;
  border-radius: 5px;
  border-color: transparent;
  display: block;
  color: #fff;
  margin: auto;
  cursor: pointer;
  font-size: 0.85em;
  margin-top: 5px;
}

#toTop:hover {
  background: #e66465;
}

#toTop:focus {
  outline: none;
  
}

#header {
  position:fixed;
		height: 50px;
		display:block;
    width: 100%;
    background: transparent;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
}

.fp-slidesNav ul li a.active span {
  background-color: rgb(147, 146, 243)
}


#bg0 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg');
  background-size: cover;
}

#bg1 {
  background-size: cover;
}

#bg2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg');
  background-size: cover;
}

#bg3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg');
  background-size: cover;
}

.slide {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg');
  background-size: cover;
}

#title {
  font-style: oblique;
}

#years {
  font-style: oblique;
}

#slide-header {
  text-align: center;
  border-bottom: 1px #fff solid;
  width: 100%;
}

.leftSide {
  float: left;
  width: 70%;
  height: 100%;
  padding-top: 20vh;
}

.rightSide {
float: left;
width: 30%;
height: 100%;
padding-top: 25vh;
overflow: hidden;
}

