body {
  font-family: arial, helvetica;
}

h3 {
  font-size: 6em;
  color: #fff;
  font-weight: 700;
}

h4 {
  font-size: 3em;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

.fp-section {
  text-align: center;
  color: white;
}

#toTop {
  padding: 0.93em 1.87em;
  background: #35495e;
  border-radius: 5px;
  border-color: transparent;
  display: block;
  color: #fff;
  margin: auto;
  cursor: pointer;
  font-size: 0.85em;
  margin-top: 5px;
}

#toTop:hover {
  background: #e66465;
}

#toTop:focus {
  outline: none;
  
}

#header {
  position:fixed;
		height: 50px;
		display:block;
    width: 100%;
    background: transparent;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
}

.fp-slidesNav ul li a.active span {
  background-color: rgb(147, 146, 243)
}


#bg0 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg');
  background-size: cover;
}

#bg1 {
  background-size: cover;
}

#bg2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg');
  background-size: cover;
}

#bg3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg');
  background-size: cover;
}


.leftSide {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg');
  background-size: cover;
  float: right;
  width: 50%;
  height: 100%;
  padding-top: 20vh
}

.rightSide {
  background-image: linear-gradient(270deg, rgba(10, 128, 118,0.5), rgba(47, 226, 211, 0.5)), url('https://i.pinimg.com/originals/a3/04/16/a304168113a5f756762b40e998e21b04.jpg');
  float: right;
  width: 50%;
  height: 100%;
  padding-top: 20vh;
}

